{% extends 'base.html' %}

{% block title %}Fakebook - chat{% endblock %}

{% block content %}
<div class="modal-chat">
    <div class="card">
        <h2>Név</h2>
        <form class="chat-form">
            <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row">
                    <div class="row-element">
                        <div>
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin"></div>
            <button type="submit">Send</button>
        </form>
    </div>
</div>
{% endblock %}